In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [54]:
train_data = pd.read_csv("Data/train_data_v1.csv")
train_data.head()

,Year,Date,Locality,Latitude,Longitude,Address,Estimated Value,Sale Price,Property,Residential,num_rooms,carpet_area,property_tax_rate
0,2009,02-01-2009,Greenwich,41.0389,-73.6136,40 ETTL LN UT 24,711270,975000.0,Condo,Condominium,2,760,1.025953
1,2009,02-01-2009,East Hampton,41.5667,-72.5000,18 BAUER RD,119970,189900.0,Single Family,Detached House,3,921,1.025953
2,2009,02-01-2009,Ridgefield,41.3053,-73.5014,48 HIGH VALLEY RD.,494530,825000.0,Single Family,Detached House,3,982,1.025953
3,2009,02-01-2009,Old Lyme,41.3167,-72.3000,56 MERIDEN RD,197600,450000.0,Single Family,Detached House,3,976,1.025953
4,2009,02-01-2009,Naugatuck,41.4897,-73.0514,13 CELENTANO DR,105440,200000.0,Single Family,Detached House,3,947,1.025953

In [55]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553951 entries, 0 to 553950
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               553951 non-null  int64
 1   Date               553951 non-null  object
 2   Locality           553951 non-null  object
 3   Latitude           328193 non-null  float64
 4   Longitude          328195 non-null  float64
 5   Address            553951 non-null  object
 6   Estimated Value    553951 non-null  int64
 7   Sale Price         553951 non-null  float64
 8   Property           553951 non-null  object
 9   Residential        553951 non-null  object
 10  num_rooms          553951 non-null  int64
 11  carpet_area        553951 non-null  int64
 12  property_tax_rate  553951 non-null  float64
dtypes: float64(4), int64(4), object(5)
memory usage: 54.9+ MB

In [56]:
# checking null values
train_data.isnull().sum()

Year                      0
Date                      0
Locality                  0
Latitude             225758
Longitude            225756
Address                   0
Estimated Value           0
Sale Price                0
Property                  0
Residential               0
num_rooms                 0
carpet_area               0
property_tax_rate         0
dtype: int64

In [57]:
# making new data frame with dropped NA values
train_data_new = train_data.dropna(axis=0, how='any')

In [58]:
train_data_new.head()

,Year,Date,Locality,Latitude,Longitude,Address,Estimated Value,Sale Price,Property,Residential,num_rooms,carpet_area,property_tax_rate
0,2009,02-01-2009,Greenwich,41.0389,-73.6136,40 ETTL LN UT 24,711270,975000.0,Condo,Condominium,2,760,1.025953
1,2009,02-01-2009,East Hampton,41.5667,-72.5000,18 BAUER RD,119970,189900.0,Single Family,Detached House,3,921,1.025953
2,2009,02-01-2009,Ridgefield,41.3053,-73.5014,48 HIGH VALLEY RD.,494530,825000.0,Single Family,Detached House,3,982,1.025953
3,2009,02-01-2009,Old Lyme,41.3167,-72.3000,56 MERIDEN RD,197600,450000.0,Single Family,Detached House,3,976,1.025953
4,2009,02-01-2009,Naugatuck,41.4897,-73.0514,13 CELENTANO DR,105440,200000.0,Single Family,Detached House,3,947,1.025953

In [59]:
train_data_new["Latitude"] = pd.to_numeric(train_data_new["Latitude"])
train_data_new["Longitude"] = pd.to_numeric(train_data_new["Longitude"])

C:\Users\rajda\AppData\Local\Temp\ipykernel_13000\4201873439.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_new["Latitude"] = pd.to_numeric(train_data_new["Latitude"])
C:\Users\rajda\AppData\Local\Temp\ipykernel_13000\4201873439.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_new["Longitude"] = pd.to_numeric(train_data_new["Longitude"])

In [63]:
# converting Date column to Datetime object
train_data_new["Date"] = pd.to_datetime(train_data_new["Date"], format="%d-%m-%Y")

C:\Users\rajda\AppData\Local\Temp\ipykernel_13000\496613227.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_new["Date"] = pd.to_datetime(train_data_new["Date"], format="%d-%m-%Y")

In [65]:
train_data_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 328193 entries, 0 to 553950
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               328193 non-null  int64
 1   Date               328193 non-null  datetime64[ns]
 2   Locality           328193 non-null  object
 3   Latitude           328193 non-null  float64
 4   Longitude          328193 non-null  float64
 5   Address            328193 non-null  object
 6   Estimated Value    328193 non-null  int64
 7   Sale Price         328193 non-null  float64
 8   Property           328193 non-null  object
 9   Residential        328193 non-null  object
 10  num_rooms          328193 non-null  int64
 11  carpet_area        328193 non-null  int64
 12  property_tax_rate  328193 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(4)
memory usage: 35.1+ MB

In [66]:
# spliting Date,month from Date column
train_data_new["Day"] =  train_data_new["Date"].dt.day
train_data_new["month"] =  train_data_new["Date"].dt.month
train_data_new["is_weekend"] = (train_data_new['Date'].dt.dayofweek >= 5).astype(int)
train_data_new['quarter'] = train_data_new['Date'].dt.quarter

C:\Users\rajda\AppData\Local\Temp\ipykernel_13000\2935639626.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_new["Day"] =  train_data_new["Date"].dt.day
C:\Users\rajda\AppData\Local\Temp\ipykernel_13000\2935639626.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_new["month"] =  train_data_new["Date"].dt.month
C:\Users\rajda\AppData\Local\Temp\ipykernel_13000\2935639626.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_new["is_weekend"] = (train_data_new['Date'].dt.dayofweek >= 5).astype(int)
C:\Users\rajda\AppData\Local\Temp\ipykernel_13000\2935639626.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_new['quarter'] = train_data_new['Date'].dt.quarter

In [67]:
train_data_new = train_data_new.drop("Date", axis = 1)

In [68]:
train_data_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 328193 entries, 0 to 553950
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               328193 non-null  int64
 1   Locality           328193 non-null  object
 2   Latitude           328193 non-null  float64
 3   Longitude          328193 non-null  float64
 4   Address            328193 non-null  object
 5   Estimated Value    328193 non-null  int64
 6   Sale Price         328193 non-null  float64
 7   Property           328193 non-null  object
 8   Residential        328193 non-null  object
 9   num_rooms          328193 non-null  int64
 10  carpet_area        328193 non-null  int64
 11  property_tax_rate  328193 non-null  float64
 12  Day                328193 non-null  int32
 13  month              328193 non-null  int32
 14  is_weekend         328193 non-null  int32
 15  quarter            328193 non-null  int32
dtypes: float64(4), int32(4), int64(4), object(4)
memory usage: 37.6+ MB

In [69]:
#converting categorical column to numerical column
from sklearn.preprocessing import LabelEncoder

In [70]:
label_encode = LabelEncoder()
train_data_new["Residential"] = label_encode.fit_transform(train_data_new["Residential"])

In [71]:
label_encode_1 = LabelEncoder()
train_data_new["Property"] = label_encode_1.fit_transform(train_data_new["Property"])

In [73]:
train_data_new = train_data_new.drop(["Locality","Address"], axis = 1)

In [74]:
train_data_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 328193 entries, 0 to 553950
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               328193 non-null  int64
 1   Latitude           328193 non-null  float64
 2   Longitude          328193 non-null  float64
 3   Estimated Value    328193 non-null  int64
 4   Sale Price         328193 non-null  float64
 5   Property           328193 non-null  int32
 6   Residential        328193 non-null  int32
 7   num_rooms          328193 non-null  int64
 8   carpet_area        328193 non-null  int64
 9   property_tax_rate  328193 non-null  float64
 10  Day                328193 non-null  int32
 11  month              328193 non-null  int32
 12  is_weekend         328193 non-null  int32
 13  quarter            328193 non-null  int32
dtypes: float64(4), int32(6), int64(4)
memory usage: 30.0 MB

In [75]:
from xgboost import XGBRegressor

xgb_model = XGBRegressor()

In [76]:
X = train_data_new.drop(["Sale Price"], axis = 1)
y = train_data_new["Sale Price"]

In [102]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 328193 entries, 0 to 553950
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               328193 non-null  int64
 1   Latitude           328193 non-null  float64
 2   Longitude          328193 non-null  float64
 3   Estimated Value    328193 non-null  int64
 4   Property           328193 non-null  int32
 5   Residential        328193 non-null  int32
 6   num_rooms          328193 non-null  int64
 7   carpet_area        328193 non-null  int64
 8   property_tax_rate  328193 non-null  float64
 9   Day                328193 non-null  int32
 10  month              328193 non-null  int32
 11  is_weekend         328193 non-null  int32
 12  quarter            328193 non-null  int32
dtypes: float64(3), int32(6), int64(4)
memory usage: 27.5 MB

In [77]:
# split data to train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, random_state=42)

In [78]:
X_train.shape,X_test.shape

((229735, 13), (98458, 13))

In [79]:
y_train.shape, y_test.shape

((229735,), (98458,))

In [80]:
xgb_model.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [82]:
y_pred = xgb_model.predict(X_test)

In [83]:
# evaltuing performance
from sklearn.metrics import mean_squared_error,mean_absolute_error

mean_absolute_error(y_test, y_pred)

92270.08509884156

In [84]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
import xgboost as xgb
import lightgbm as lgb
import catboost as cb

In [85]:
def train(X, y):
    """
    Trains different regression models, evaluates their performance on test data,
    and stores the resulting metrics in a pandas DataFrame.
    :param X: pandas DataFrame containing the features
    :param y: pandas Series containing the target variable
    :return: pandas DataFrame containing the model names and corresponding metrics
    """
    # Split the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Define the regression models to be trained
    models = [
        LinearRegression(),
        Ridge(),
        Lasso(),
        DecisionTreeRegressor(),
        RandomForestRegressor(),
        AdaBoostRegressor(),
        xgb.XGBRegressor(),
        lgb.LGBMRegressor(),
        cb.CatBoostRegressor(silent=True)
    ]

    # Train the regression models and evaluate their performance on test data
    results = []
    for model in models:
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        rmse = np.sqrt(mean_squared_error(y_test, y_pred))
        mae = mean_absolute_error(y_test, y_pred)
        r2 = r2_score(y_test, y_pred)
        results.append(pd.DataFrame({'Model': [type(model).__name__], 'RMSE': [rmse], 'MAE': [mae], 'R2': [r2]}))

    return pd.concat(results, ignore_index=True)

In [86]:
results = train(X,y)
results

                   Model           RMSE            MAE        R2
0       LinearRegression  877915.132677  282054.273490  0.073164
1                  Ridge  877915.056426  282053.915612  0.073164
2                  Lasso  877915.015098  282053.695195  0.073164
3  DecisionTreeRegressor  647323.045063  128417.564146  0.496105
4  RandomForestRegressor  565443.804397   89692.268740  0.615517
5      AdaBoostRegressor  879838.782178  476609.260804  0.069098
6           XGBRegressor  558746.301043   91177.188775  0.624572
7          LGBMRegressor  624974.719721   95531.059588  0.530298
8      CatBoostRegressor  628817.774544   94398.549634  0.524503

# Creating Cluster

In [87]:
train_data_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 328193 entries, 0 to 553950
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               328193 non-null  int64
 1   Latitude           328193 non-null  float64
 2   Longitude          328193 non-null  float64
 3   Estimated Value    328193 non-null  int64
 4   Sale Price         328193 non-null  float64
 5   Property           328193 non-null  int32
 6   Residential        328193 non-null  int32
 7   num_rooms          328193 non-null  int64
 8   carpet_area        328193 non-null  int64
 9   property_tax_rate  328193 non-null  float64
 10  Day                328193 non-null  int32
 11  month              328193 non-null  int32
 12  is_weekend         328193 non-null  int32
 13  quarter            328193 non-null  int32
dtypes: float64(4), int32(6), int64(4)
memory usage: 30.0 MB

In [88]:
from sklearn.cluster import KMeans

#X_cluster_data = train_data_new.drop(["Locality","Address"], axis = 1)

# Train the KMeans clustering model with 4 clusters
kmeans = KMeans(n_clusters=4, random_state=42)
kmeans.fit(train_data_new)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=4, random_state=42)

In [89]:
# Assign the predicted cluster labels to each row in the dataframe
train_data_new['segment'] = kmeans.predict(train_data_new)

In [90]:
train_data_new["segment"].value_counts()

segment
2    314003
0     13415
3       774
1         1
Name: count, dtype: int64

# Test Data

In [106]:
test_data = pd.read_csv("Data/test.csv")
test_data.head()

,Year,Date,Locality,Latitude,Longitude,Address,Estimated Value,Sale Price,Property,Residential,num_rooms,carpet_area,property_tax_rate,Segment
0,2023,01-01-2023,Old Lyme,41.3167,-72.3000,12 SWAN AVE,151400,0,Residential,Detached House,3,947,1.46,0
1,2023,01-01-2023,Ridgefield,41.3053,-73.5014,59 LINCOLN LANE,686900,0,Residential,Detached House,3,1051,1.46,0
2,2023,04-01-2023,Cromwell,41.6097,-72.6631,6 GROVE RD,152030,0,Residential,Detached House,3,925,1.46,0
3,2023,04-01-2023,New Haven,41.3100,-72.9236,346 CONCORD ST,156130,0,Residential,Duplex,4,1210,1.46,0
4,2023,04-01-2023,Beacon Falls,41.4386,-73.0556,14 LASKY ROAD,108970,0,Residential,Detached House,3,1089,1.46,0

In [107]:
#test_data["Residential"] = label_encode.transform(test_data["Residential"])
test_data["Property"] = label_encode_1.transform(test_data["Property"])

In [108]:
test_data["Residential"] = label_encode.transform(test_data["Residential"])

In [109]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43954 entries, 0 to 43953
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               43954 non-null  int64
 1   Date               43954 non-null  object
 2   Locality           43954 non-null  object
 3   Latitude           43954 non-null  float64
 4   Longitude          43954 non-null  float64
 5   Address            43954 non-null  object
 6   Estimated Value    43954 non-null  int64
 7   Sale Price         43954 non-null  int64
 8   Property           43954 non-null  int32
 9   Residential        43954 non-null  int32
 10  num_rooms          43954 non-null  int64
 11  carpet_area        43954 non-null  int64
 12  property_tax_rate  43954 non-null  float64
 13  Segment            43954 non-null  int64
dtypes: float64(3), int32(2), int64(6), object(3)
memory usage: 4.4+ MB

In [110]:
# converting Date column to Datetime object
test_data["Date"] = pd.to_datetime(test_data["Date"], format="%d-%m-%Y")

# spliting Date,month from Date column
test_data["Day"] =  test_data["Date"].dt.day
test_data["month"] =  test_data["Date"].dt.month
test_data["is_weekend"] = (test_data['Date'].dt.dayofweek >= 5).astype(int)
test_data['quarter'] = test_data['Date'].dt.quarter

test_data_new = test_data.drop("Date", axis = 1)

In [111]:
test_data_new =test_data_new.drop(["Locality","Address"], axis = 1)

In [112]:
test_data_new =test_data_new.drop(["Segment"], axis = 1)

In [113]:
test_data_new =test_data_new.drop(["Sale Price"], axis = 1)

In [114]:
y_pred = xgb_model.predict(test_data_new)

In [115]:
test_data_new["Sale Price"] = y_pred

In [116]:
test_data_new

,Year,Latitude,Longitude,Estimated Value,Property,Residential,num_rooms,carpet_area,property_tax_rate,Day,month,is_weekend,quarter,Sale Price
0,2023,41.3167,-72.3000,151400,2,1,3,947,1.46,1,1,1,1,2.286267e+05
1,2023,41.3053,-73.5014,686900,2,1,3,1051,1.46,1,1,1,1,1.043377e+06
2,2023,41.6097,-72.6631,152030,2,1,3,925,1.46,4,1,0,1,2.297248e+05
3,2023,41.3100,-72.9236,156130,2,2,4,1210,1.46,4,1,0,1,2.259580e+05
4,2023,41.4386,-73.0556,108970,2,1,3,1089,1.46,4,1,0,1,1.228415e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43949,2023,41.3433,-73.0686,137600,2,1,3,1047,1.46,30,9,1,3,2.063856e+05
43950,2023,41.9750,-72.5494,114650,2,1,3,921,1.46,30,9,1,3,1.432061e+05
43951,2023,41.8706,-72.8253,163400,2,1,3,957,1.46,30,9,1,3,2.431547e+05
43952,2023,41.3500,-72.4167,282300,2,1,3,1081,1.46,30,9,1,3,4.593673e+05
43953,2023,41.2243,-73.0576,128930,2,1,3,962,1.46,30,9,1,3,1.897058e+05

In [117]:
train_data_new.to_csv("processed_train_data.csv", index = False)

In [118]:
test_data_new.to_csv("processed_test_data.csv", index = False)

In [90]:
from sklearn.mixture import GaussianMixture

In [91]:
n_components = 4
gmm = GaussianMixture(n_components=n_components, covariance_type='full', random_state=42)

In [92]:
# Fit the model and predict clusters
gmm.fit(X_cluster_data)

GaussianMixture(n_components=4, random_state=42)

In [93]:
# predict the cluster labels
y_pred = gmm.predict(X_cluster_data)

In [94]:
# Assign the predicted cluster labels to each row in the dataframe
train_data_new['segment'] = y_pred

In [95]:
train_data_new.to_csv("processed_train_data_v1.csv", index = False)